@import url('https://fonts.googleapis.com/css?family=Raleway:300');

.raleway-light {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
}

.layout-h {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}

.layout-v {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.justify-content-center {
	justify-content: center;
}

.justify-content-space-around {
	justify-content: space-around;
}

.content {
	width: 1280px;
	margin: auto;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

#homepage {
	margin: auto;
	.intro {
		width: 100%;
		height: 100vh;
		.left {
			overflow: auto;
			padding-right: 5vh;
			display: inline-block;
			.logo{
 				img{
					width: 300px;
				}
				.note {
					color: #BBBBBB;
					text-align: center;
				}
			}
		}
		.right {
			display: inline-block;
			padding-left: 5vh;
		}
	}
}
